{% extends "setuptools.yaml" %}

{% block build -%}

{%- endblock %}

{% block requirements %}
requirements:
  build:
    - python
    - setuptools
    {% for req in data.get('setup_requires', []) -%}
    - {{req}}
    {% endfor %}
  run:
    - python
    - setuptools
    {% for req in data.get('install_requires', []) -%}
    - {{req}}
    {% endfor %}

{% endblock %}
