{% extends "setuptools.yaml" %}

{% block requirements %}

requirements:
  build:
    - numpy
    - python
    - setuptools
  run:
    - numba <=0.11.1
    - numpy
    - pyfftw
    - python
    - setuptools
    - scipy

{% endblock %}
